*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
}
body {
  display: flex;
  height: 100vh;
  background-color: #29303B;
}
.wrapper {
  padding: 20px;
  width: 100%;
  background-image: linear-gradient(#3F4B59, #333D46);
  color: #fff;
  text-align: center;
}
.form-box label{
  font-size: 1.4rem;
}
.form-box input{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%;
  border-radius: 10px;
  font-size: 1.4rem;
}
button{
  padding: 5px;
  border-radius: 5px;
  font-size: 1.2rem;
}
.steps, .steps span{
  padding: 3px;
  margin-top: q1em;
  font-size: 1.4rem;
}
.form-box input{
  text-align: center;
}


@media (min-width: 1200px){
  body{
    justify-content: center;
    align-items: center;
  }
  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 600px;
    
  }
  .form-box label{
    font-size: 2rem;
  }
  .form-box input{
    width: 50%;
    border-radius: 10px;
    font-size: 2rem;
  }
}